/* src/components/Admin/LocationList/LocationList.module.css */
.container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table tr:hover {
    background-color: #f1f1f1; /* Màu nền khi hover qua hàng */
}

.table img {
    border-radius: 4px;
}
